<?xml version="1.0"?>
<model>
  <name>cinewhoop_2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>SwarmFYP</name></author>
  <description>Cinewhoop digital twin drone with ArduPilot Gazebo plugin on port 9012</description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>